/*Navigation Bar*/
th {
   cursor: pointer;
 }
 
.topnav {
overflow: hidden;
background-color: #333;
}

.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
background-color: #ddd;
color: black;
}

.topnav a.active {
background-color: #4CAF50;
color: white;
}

.topnav-right {
float: right;
}

/*Select tag for language selection*/
.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 240px;
}

.styled-select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 30px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 150px;
   border: 2px black;
   float: right;
}

.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

/* -------------------- Colors: Background */
.gray    { background-color: #c4cfd6; }

/* -------------------- Colors: Text */
.gray select    { color: #fff; }

.language-select{
	height: 30px;
}
.problem{
   margin: 0px;
   background-color: darkgray;
   border-radius: 5px;
}

.problem-name{
	font-weight: bold;
}

.problem-desc{
   font-family: monospace;
   border: 2px solid black;
   background-color: #fff;
}

.problem-sample_input{
   font-family: monospace;
   border: 2px solid black;
   background-color: #fff;
}

.problem-sample_output{
   font-family: monospace;
   border: 2px solid black;
   background-color: #fff;
}

footer {
    position: fixed;
    bottom: 0px;
    background: transparent !important;
}
